* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #346950;
  font-family: Montserrat;
}

.wrapper {
  background: white;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: linear-gradient(#485061, #16191f);
  width: 32%;
  padding-bottom: 40px;
}

.my-photo {
  width: calc(100% - 48px);
  border-radius: 100%;
  margin: 40px 24px;
}

.about-me-container {
  padding: 110px 90px;
  width: 68%;
}

.contacts-container {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.personal-info-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bbc5dc;
  padding-bottom: 12px;
}

.contacts-link {
  font-weight: 400;
  line-height: 24px;
  color: #bbc5dc;
  text-decoration: none;
}

.contacts-link-type {
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.skills-container {
  width: 30%;
  margin: 24px 8px 0;
}

.skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #346950;
}

.skills-text {
  color: #595959;
}

.hobbies-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.hobbies-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
}

.hobbies-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #346950;
}

.hobbies-text {
  color: #bbc5dc;
}

.profession {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  color: #346950;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}

.profession-company {
  color: #346950;
}

.profession-time {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.profession-divider {
  width: 14px;
  height: 14px;
  color: #16191f;
}

.profession-duties {
  margin-top: 8px;
  margin-bottom: 36px;
  list-style: none;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.profession-duties-item-key {
  font-weight: 700;
}

.education-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.university-title {
  color: #346950;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.icon-phone {
  fill: #346950;
}

.education-container {
  padding-bottom: 16px;
}

.link-text {
  line-height: 24px;
  color: #16191f;
}
