* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #346950;
  font-family: Montserrat;
}

.wrapper {
  background: white;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: linear-gradient(#485061, #16191f);
  width: 370px;
  padding-bottom: 40px;
}

.my-photo {
  width: calc(100% - 48px);
  border-radius: 100%;
  margin: 40px 24px;
}

.about-me-container {
  padding-left: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #707781;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #346950;
}

.tech-skills-text {
  color: #f0f1f2;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #346950;
}

.soft-skills-text {
  color: #b9bcc1;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
